<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>DevExpress ASP.NET project</title>

    <script src="@Url.Content("~/Scripts/WidgetsCustomization.js")" type="text/javascript"></script>
    
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardViewer }
)
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.DashboardViewer }
)
</head>

<body>
@RenderBody()
</body>
</html>